
.account{
    padding: 0 20px 20px 20px;
    margin-top: 80px;
    margin-bottom: 100px;
    @include tablet{
        margin-top: 180px;
        padding: 0 60px 60px 60px;
        margin-bottom: 0;
    }
    @include tablet-mini{
        margin-top: 80px;
        padding: 0 60px 60px 60px;
        margin-bottom: 0;
    }
    &-box{
        border: 1px solid #000000;
        border-radius: 8px;
        padding: 0 12px;
        margin-top: 10px;
        @include tablet{
            margin-top: 30px;
        }
        @include tablet-mini{
            margin-top: 30px;
        }
        &-btn{
            text-align: center;
            margin-top: 10px;
            margin-bottom: 12px;
            @include tablet{
                margin-top: 50px;
            }
            @include tablet-mini{
                margin-top: 50px;
            }
            button{
                background: #FF7A00;
                border-radius: 5px;
                font-weight: 400;
                font-size: 4vmin;
                line-height: 19px;
                color: #fff;
                border: none;
                outline: none;
                padding: 10px 5px;
                @include tablet{
                    padding: 15px;
                    font-size: 3vmin;
                }
                @include tablet-mini{
                    padding: 15px;
                    font-size: 3vmin;
                }
            }
        }
        &-bot{
            display: flex;
            justify-content: space-between;
            margin-top: 10px;;
            &-right{
                display: flex;
                flex-direction: column;
                text-align: right;
                p{
                    margin: 0 auto;
                    margin-bottom: 5px;
                    font-weight: 700;
                    font-size: 4vmin;
                    line-height: 16px;
                    @include tablet{
                        line-height: unset;
                        font-size: 3vmin;
                    }
                    @include tablet-mini{
                        line-height: unset;
                        font-size: 3vmin;
                    }
                }
                span{
                    font-weight: 600;
                    font-size: 4vmin;
                    line-height: 19px;
                    text-align: right;

                    color: #FF7A00;
                    @include tablet{
                        line-height: unset;
                        font-size: 3vmin;
                    }
                    @include tablet-mini{
                        line-height: unset;
                        font-size: 3vmin;
                    }
                }
            }
            &-text{
                display: flex;
                img{
                    margin-right: 10px;
                    @include tablet{
                        max-width: 25%;
                    }
                    @include tablet-mini{
                        max-width: 25%;
                    }
                }
                span{
                    font-weight: 400;
                    font-size: 4vmin;
                    line-height: 19px;
                    max-width: 105px;
                    @include tablet{
                        max-width: 200px;
                        line-height: 30px;
                        font-size: 3vmin;
                    }
                    @include tablet-mini{
                        max-width: 200px;
                        line-height: 30px;
                        font-size: 3vmin;
                    }
                }
            }
        }
        &-top{
            display: flex;
            justify-content: space-between;
            &-left{
                font-weight: bold;
                p{
                    font-weight: 300;
                    font-size: 3.3vmin;
                    line-height: 16px;
                    margin: 5px 0;
                    @include tablet{
                        line-height: unset;
                        font-size: 2.5vmin;
                    }
                    @include tablet-mini{
                        line-height: unset;
                        font-size: 2.5vmin;
                    }
                }
                span{
                    font-weight: bold;
                }
            }
            &-right{
                align-items: flex-end;
                display: flex;
                /* text-align: left; */
                flex-direction: column;
                p{
                    font-weight: 700;
                    font-size: 3.3vmin;
                    line-height: 16px;
                    margin: 5px 0;
                    color: #FF7A00;
                    @include tablet{
                        line-height: unset;
                        font-size: 2.5vmin;
                    }
                    @include tablet-mini{
                        line-height: unset;
                        font-size: 2.5vmin;
                    }
                }
                span{
                    font-weight: 700;
                    font-size: 3vmin;
                    line-height: 16px;
                    @include tablet{
                        line-height: unset;
                    }
                    @include tablet-mini{
                        line-height: unset;
                    }
                }
            }
        }
    }
    h3{
        font-weight: 400;
        font-size: 4vmin;
        line-height: 16px;
    }
    &-flex{
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        gap: 0 10px;
    }
    &-circle{
        border-radius: 50%;
        background-color: #FF7A00;
        max-width: 70px;
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 12px 0;
        @include tablet{
            max-width: 120px;
            height: 120px;
            justify-content: space-around;
        }
        @include tablet-mini{
            max-width: 120px;
            height: 120px;
            justify-content: space-around;
        }
        span{
            text-align: center;
            font-size: 2.2vmin;
            line-height: 12px;
            color: #fff;
            @include tablet{
                line-height: unset;
            }
            @include tablet-mini{
                line-height: unset;
            }
        }
        p{
            font-weight: 700;
            font-size: 4vmin;
            line-height: 19px;
            padding: 0;
            margin: 0;
            color: #fff;
        }
    }
    &-list{
        &-all{
            display: flex;
            align-items: center;
            margin-top: 15px;
            position: relative;
            a{
                position: absolute;
                left: 10%;
                font-weight: 400;
                font-size: 3vmin;
                line-height: 16px;
                color: #000000;
                @include tablet{
                    left: 7%;
                }
                @include tablet-mini{
                    left: 7%;
                }
            }
        }
    }
    &-head{
        display: flex;
        position: relative;
        margin-top: 80px;
        &-icon{
            display: flex;
            justify-content: space-between;
            &-one{
                border-bottom: 1px solid #333333;
            }
            &-box{
                align-items: center;
                display: flex;
                flex-direction: column;
                a{
                    font-size: 2.8vmin;
                    color: #000000;
                }
            }
        }
        &-border{
            border: 0.5px solid rgba(0, 0, 0, 0.2);
            margin-top: 30px;
        }
        &-text{
            display: flex;
            flex-direction: column;
            justify-content: end;
            margin-bottom: 3px;
            a{
                color: #000000;
            }
            p{
                font-style: normal;
                font-weight: 700;
                font-size: 4vmin;
                padding: 0;
                margin: 0;
                @include tablet{
                }
                @include tablet-mini{
                }
            }
            span{
                font-style: normal;
                font-weight: 400;
                font-size: 3vmin;
                line-height: 16px;
                margin-top: 5px;
            }
        }
        &-avt{
            margin-right: 20px;
            img{
                width: 100%;
            }
        }
    }
}

.person{
    padding: 0 20px;
    padding-bottom: 100px;
    &-address{
        position: relative;
        select{
            width: 100%;
            height: 30px;   
            @include tablet{
                height: 40px;
            }
            @include tablet-mini{
                height: 40px;
            }
        }
        span{
            position: absolute;
            top: 0;
            transform: translateY(-50%);
            left: 10px;
            padding: 0 5px;
            background-color: #fff;
            font-weight: 300;
            font-size: 3.7vmin;
            line-height: 14px;
            @include tablet{
                font-size: 3vmin;
            }
            @include tablet-mini{
                font-size: 3vmin;
            }
        }
    }
    &-all{
        position: relative;
        margin-top: 25px;
        input{
            width: 100%;
            padding: 0 10px;
            height: 30px;
            @include tablet{
                height: 40px;
            }
            @include tablet-mini{
                height: 40px;
            }
        }
        span{
            position: absolute;
            top: 0;
            left: 10px;
            background-color: #fff;
            transform: translateY(-50%);
            padding: 0 5px;
            font-weight: 300;
            font-size: 3.7vmin;
            line-height: 14px;
            @include tablet{
                font-size: 3vmin;
                line-height: unset;
            }
            @include tablet-mini{
                font-size: 3vmin;
                line-height: unset;
            }
        }
    }
    &-text2{
        display: flex;
        justify-content: space-between;
        margin: 20px 0;
        p{
            font-weight: 600;
            font-size: 4vmin;
            line-height: 16px;
            margin: 0;
            @include tablet{
                font-size: 3vmin;
            }
            @include tablet-mini{
                font-size: 3vmin;
            }
        }
        label{
            font-weight: 300;
            font-size: 4vmin;
            line-height: 16px;
            text-align: right;
            text-decoration-line: underline;
            @include tablet{
                font-size: 3vmin;
            }
            @include tablet-mini{
                font-size: 3vmin;
            }
        }
    }
    &-text{
        display: flex;
        justify-content: space-between;
        margin: 20px 0;
        p{
            font-weight: 600;
            font-size: 4vmin;
            line-height: 16px;
            margin: 0;
            @include tablet{
                font-size: 3vmin;
                line-height: unset;
            }
            @include tablet-mini{
                font-size: 3vmin;
                line-height: unset;
            }
        }
        label{
            font-weight: 300;
            font-size: 4vmin;
            line-height: 16px;
            text-align: right;
            text-decoration-line: underline;
            @include tablet{
                font-size: 3vmin;
            }
            @include tablet-mini{
                font-size: 3vmin;
            }
        }
    }
}
.camera{
    background-color: #FF7A00;
    width: 100%;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin-top: 80px;
}
.update{
    position: fixed;
    padding: 0 10px;
    border-radius: 8px;
    background-color: #fff;
    transform: translateX(-170%);
    transition: transform linear 0.2s,opacity linear 0.2s;
    z-index: 1;
    left: 50%;
    width: 90%;
    margin: 0 auto;
    h2{
        font-weight: 600;
        font-size: 4.8vmin;
        line-height: 21px;
        text-align: center;
    }
    &-all{
        position: relative;
        margin-top: 25px;
        input{
            width: 100%;
            padding: 0 10px;
            height: 30px;
        }
        span{
            position: absolute;
            top: 0;
            left: 10px;
            transform: translateY(-50%);
            background-color: #fff;
            padding: 0 5px;
            font-weight: 300;
            font-size: 3vmin;
            line-height: 14px;
        }
    }
    &-btn{
        display: flex;
        justify-content: flex-end;
        margin: 20px 10px;
        button{
            background: #FF7A00;
            border-radius: 5px;
            max-width: 130px;
            width: 100%;
            border: none;
            outline: none;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #fff;
            padding: 5px 0;
        }
    }
}
.shadow{
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
}
#update-mobile:checked ~ .update{
    transform: translate(-50%, -50%);
    display: block;
}
#update-mobile:checked ~ .shadow{
    display: block;
}
.voucher{
    padding: 0 20px;
    &-flex{
        position: absolute;
        top: 0;
        display: flex;
        height: 100%;
        width: 100%;
        &-mid{
            flex: 4;
            display: flex;
            justify-content: space-between;
            &-first{
                max-width: 180px;
                width: 100%;
                flex: 3;
                padding: 10px 0;
                @include tablet{
                    width: 100%;
                    max-width: unset;
                    padding: 50px 0;
                }
                @include tablet-mini{
                    width: 100%;
                    max-width: unset;
                    padding: 50px 0;
                }
                span{
                    font-weight: 400;
                    font-size: 2.8vmin;
                    line-height: 15px;
                    color: #9E9E9E;
                    }
            }
            &-second{
                flex: 2;
                width: 100%;
                font-weight: 700;
                font-size: 2.8vmin;
                line-height: 15px;
                text-transform: uppercase;
                color: #8A8A8A;
                display: flex;
                align-items: flex-end;
                margin-bottom: 12px;
                @include tablet{
                    margin-bottom: 30px;
                }
                @include tablet-mini{
                    margin-bottom: 30px;
                }
                &-margin{
                    margin-right: 10px;
                }
            }
            a{
                color: #FFAE63; 
                font-weight: 700;
                font-size: 15vmin;
                margin: 0;
                text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
            }
        }
        &-left{
            margin: 0 auto;
            flex: 1;
            display: flex;
            justify-content: flex-end;
            text-align: center;
            span{
                font-weight: 400;
                font-size: 6vmin;
                line-height: 29px;
                color: #fff;
                writing-mode: vertical-rl;
                transform: rotate(-180deg);
                margin-right: 5px;
                @include tablet{
                    margin-right: 15px;
                }
                @include tablet-mini{
                    margin-right: 15px;
                }
            }
        }
    }
    &-list{
        position: relative;
        img{
            width: 100%;
        }
    }
}
.love{
    padding: 0 20px;
    &-text{
        margin-top: 20px;
        font-weight: bold;
        font-size: 3vmin;
    }
}