.footer {
    &-images{
        position: relative;
        @include sm-desk{
            position: unset;
        }
    }
    &-image{
        width: 100%;
        // height: auto;
        @include sm-desk{
            width: 100%;
            height: 30%;
        }
        @include tablet{
            max-height: 200px;
            height: 100%;
        }
        &--mobile{
            display: none;
            img{
                @include tablet-mini{
                    width: 100vw;
                }
                @include mobile{
                    width: 100vw;
                }
            }
        }
       position: absolute; 
       @include tablet{
        // width: 1023px;
       }
    }

    &-categories{
        max-width: 1440px;
        display: flex;
        justify-content: space-between;
        padding: 0 158px;
        align-items: center;
        // margin-left: -140px;
        background-color: #F5F5F5;
        @include tablet{
            padding: 0 20px;
        }
        a{
            // display: inline-block;
            color: #626262;
            font-size: 14px;
            text-align: center;
            // margin-left: 140px;
        }
        
    }
    @include tablet{
        // width: 1023px;
        img{
            // width: 1023px;
        }
    }
    // @include tablet-mobile{
    //     max-width: 738px;
    //     .footer-image--mobile{
    //         display: inline;
    //         position: absolute;
    //         width: 100%;
    //         height: 627px;
    //         // width: 100vw;
    //         // height: 100%;
    //     }
    //     .footer-categories{
    //         display: none;
    //     }
    //     .footer-image{
    //         max-width: 428px;
    //         max-height: 627px;
    //         display: none;
    //         img{

    //         }
    //     }
    // }
    .footer-categories{
        @include tablet-mini{
            display: none;
        }
    }
    .footer-image{
        @include tablet-mini{
            display: none;
        }
    }
    .footer-image--mobile{
        @include tablet-mini{

            display: block;
            width: 100%;
            height: 600px;
            position: absolute;
        }
    }
    @include mobile{
        max-width: 738px;
        .footer-image--mobile{
            display: inline;
            position: absolute;
            width: 100%;
            height: 627px;
            // width: 100vw;
            // height: 100%;
        }
        .footer-categories{
            display: none;
        }
        .footer-image{
            max-width: 428px;
            max-height: 627px;
            display: none;
            img{

            }
        }
    }
}
.container{
    position: relative;
    display: flex;
    justify-content: space-between;
    // max-width: 1440px;
    margin: 0 auto;
    padding: 0 80px;
    // background-color: rgb(12, 12, 12) ;
    // background-repeat: no-repeat,repeat;
    img{
        // background-repeat: repeat,no-repeat;
    }
    // @include desk{
    //     padding: 0 10px;
    // } 
    @include sm-desk{
        padding: 0 10px;
    }
    @include tablet{
        // padding: 0 84px;
    }
    @include tablet-mini{
        padding: 0;
        // background-color: #626262;
        max-width: 738px;
        display: flex;
        // justify-content: center;
        flex-direction: column;
        // text-align: center;
    }
    @include mobile{
        padding: 0;
        // background-color: #626262;
        max-width: 738px;
        display: flex;
        // justify-content: center;
        flex-direction: column;
        // text-align: center;
    }
    
}
.menu{
    margin-top: 35px;
    padding-left: 0;
    list-style:none;
    @include tablet{
        margin-top: 24px;
    }
    @include tablet-mini{
        margin: 20px 0 0 0;
    }
    @include mobile{
        margin: 20px 0 0 0;
    }
    &-link{
        font-style: normal;
        font-weight: 300;
        // font-size: 16px;
        font-size: 2vmin;
        line-height: 19px;
        color: #fff;
        @include tablet{
            font-size: 10px;
        }
        @include tablet-mini{
            font-size: 3vmin;
        }
        @include mobile{
            font-size: 3.5vmin;
        }
    }
    &-item{
        margin-bottom: 10px;
        
        @include tablet-mini{
            margin-bottom: 5px;
        }
        @include mobile{
            margin-bottom: 5px;
        }
        &--img{

            @include tablet-mini{
                text-align: center;
            }
            @include mobile{
                text-align: center;
            }
            img{
                @include tablet-mini{
                    margin-left: 10px;
                }
                @include mobile{
                    margin-left: 10px;
                }
            }
        }
        &--img2{
            text-align: center;
            img{
                @include tablet-mini{
                    text-align: center;
                }
                @include mobile{
                    text-align: center;
                }
            }
        }
        @include tablet{
            margin-bottom: 7px;
        }
        @include tablet-mini{
            text-align: center;
        }
        @include mobile{
            text-align: center;
        }
    }
}
.menu-item-mobile{
    display: flex;
    align-items: center;
    a{
        margin-left: 5px;
    }
    @include tablet-mini{

        text-align: left;
        padding-left: 130px;
    }
    @include mobile{

        text-align: left;
        padding: 0 20px;
    }
}
.menu-item-mobile2{
    display: flex;
    align-items: center;
    a{
        margin-left: 5px;
    }
    @include tablet-mini{

        text-align: left;
        transform: translateX(35%);
    }
    @include mobile{

        text-align: left;
        transform: translateX(30%);
    }
}
.menu-link-mobile{
    display: none;
    @include tablet-mini{
        display: block;
    }
    @include mobile{
        display: block;
    }
}
.menu-link.first {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.03em;
    color: #fff;
    @include sm-desk{
        font-size: 16px;
    }
    @include tablet{
        font-size: 12px;
    }
    @include tablet-mini{
        font-size: 16px;
        margin-top: 20px;
    }
    @include mobile{
        font-size: 16px;
        margin-top: 20px;
    }
}
