.wrapper{
    max-width: 1200px;
    @include sm-desk{
        // max-width: 1024px;
    }
}
.header {
    background-color: #fff;
    width: 100%;
    // position : absolute;
    max-width: 1200px;
    position: fixed;
    top: 0;
    z-index: 1;
    padding: 20px 0;
    // left: 0;
    transition: 0.3s ease;  
    @include sm-desk{
        max-width: 1366px;
        width: 100%;
        .header-container{
            padding: 50px 50px 0px 50px;
        }
        .header-container-search{
            max-width: 700px;
            width: 100%;
            margin: 0 15px;
        }
    }
    @include mobile{
        // max-width: 739px;
        // width: 54%;
        // width: 100vw;
        padding: 0;
        .header-container{
            padding: 0;
            justify-content: space-between;
            padding: 0 20px;
            margin-bottom: 0;
        }
        .header-container-more--user{
            margin: 0;
        }
        .header-container-logo{
            margin-left: 45px;
        }
    }
    @include tablet-mini{
        // max-width: 739px;
        // width: 54%;
        // width: 100vw;
        padding: 0;
        .header-container{
            padding: 0;
            justify-content: space-between;
            padding: 0 20px;
            margin-bottom: 0;
        }
        .header-container-more--user{
            margin: 0;
        }
        .header-container-logo{
            margin-left: 45px;
        }
    }
    &-categories{
        &--list{
            font-style: normal;
            font-weight: 0;
            font-size: 12px;
        }
        &--help{
            text-align: left !important;
            width: 170px !important;
            padding-left: 20px !important;
        }
        &--menu{
            transform: translateX(-30%);
            padding: 0;
            width: 150px;
            position: absolute;
            background-color: #fff;
            list-style: none;
            align-items: center;
            justify-content: center;
            text-align: center;
            display: none;
            top: 100%;
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
            border-radius: 0px 0px 5px 5px;
            &--child{
                list-style: none;
            }
            ::before{
                content: "";
                position: absolute;
                height: 20px;
                left: 0;
                right: 0;
                background-color: transparent;
                transform: translateY(-100%);
            }
            li{
                margin-top:5px;
                margin-bottom: 16px;
                font-size: 12px;
                // font-weight: bold;
                color: #000;
                a{
                    color: #000;
                }
            }
        }
        &-deal{
            &:hover .header-categories--menu{
                display: block;
            }

            position: relative;
            select{
                border: none;
            }
        }
        // margin-bottom: 360px;
        padding: 0px 64px;
        display: flex;
        justify-content: center;
        // margin-left: 15px;
        align-items: center;
        gap: 0 65px;
        // position: absolute;
        &-home{
            font-weight: bold;
            a{
                color: #000;
            }
        }
        &-items{
            &:hover .header-categories--menu{
                display: block;
            }

            font-size: 16px;
            transition: all 0.5s linear;
            &:hover{
                color: #333;
            }
        }
    }
    &-container{
        width: 100%;
        height: 73px;
        //  padding: 50px 142px 0px 144px;
        padding: 50px 20px 0px 20px;
        display: flex;
        justify-content: space-between;  
        align-items: center;
        margin-bottom: 29px;
        &-menu{
            display: none;
            @include mobile{
                display: block;
                &:active .headmenu{
                    display: block;
                }
            }
            @include tablet-mini{
                display: block;
                &:active .headmenu{
                    display: block;
                }
            }
        }
        &-logo{
            p{
                font-size: 11px;
                margin-top: 0;
            }
        }
        &-more{
            display: flex;
            &--login{
                a{
                    color: #000;
                }
                transform: translateX(-30%);
                padding: 0;
                width: 120px;
                position: absolute;
                background-color: #fff;
                list-style: none;
                align-items: center;
                justify-content: center;
                text-align: center;
                display: none;
                top: 100%;
                margin: 0;
                z-index: 1;
                &--child{
                    list-style: none;

                }
                ::before{
                    content: "";
                    position: absolute;
                    height: 20px;
                    left: 0;
                    right: 0;
                    background-color: transparent;
                    transform: translateY(-100%);
                }
                li{
                    a{
                        display: inline-block;
                    }
                    margin-top: 20px;
                    margin-bottom: 16px;
                    font-size: 12px;
                    font-weight: 400;
                    color: #000;
                }
            }
            &--user{
                position: relative;
                margin-left: 12px;
                color: black;
                // font-size: 20px ;
                &:hover .header-container-more--login{
                    display: block;
                }
    
            }
            &--cart{
                margin-left: 19px;
                color: black;
                // font-size: 20px;
                position: relative;
                @include tablet{
                    display: none;
                }
                @include mobile{
                    display: none;
                }
                @include tablet-mini{
                    display: none;
                }
                &--total{
                    display: flex;
                    justify-content: space-between;
                    padding: 0 5px;
                    margin: 5px 0;
                    &--numb{
                        color: red;
                    }
                    
                }
                h6{
                    font-size: 12px;
                    margin: 5px 0;
                }
                &--alert{
                    font-size: 10px;
                    margin: 5px 0;
                }
                &--right{
                    background-color: #fff;
                    border: orange solid 2px;
                    cursor: pointer;
                    display: inline-block;
                    text-decoration: none;
                    // background-color: orange;
                    // border-radius: 5px;
                    color: orange;
                    font-size: 10px;
                    padding: 10px 0;
                    width: 100px;
                }
                &--left{
                    border: none;
                    cursor: pointer;
                    display: inline-block;
                    text-decoration: none;
                    background-color: orange;
                    // border-radius: 5px;
                    color: #fff;
                    font-size: 10px;
                    padding: 10px 0;
                    width: 100px;
                }
                &--btn{
                    padding: 0 7px;
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 10px;

                //     button{
                //     border: none;
                //     cursor: pointer;
                //     display: inline-block;
                //     text-decoration: none;
                //     background-color: orange;
                //     // border-radius: 5px;
                //     color: #fff;
                //     font-size: 10px;
                //     padding-top: 13px ;
                //     padding-bottom: 13px ;
                //     width: 100px;
                //  }
                }
                &--top{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    border-bottom: 1px solid #ccc;
                }
                span{
                    // color: red;
                }
                &:hover &--child{
                    display: block;
                }
                &--child{
                    display: none;
                    position: absolute;
                    // bottom: -25px;
                    z-index: 1;
                    right: -16px;
                    top: 35px;
                    // top: 10px;
                    width: 220px;
                    background-color: #fff;
                    // box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1);
                    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
                    //     ::before{
                    //     content: "";
                    //     position: absolute;
                    //     top: 0;
                    //     left: 3rem;
                    //     border-left: 10px solid transparent;
                    //     border-bottom: 10px solid var(--primary);
                    //     transform: translateY(-100%);
                    // }
                    ::before{
                        content: "";
                        position: absolute;
                        border-width: 1px 4px;
                        border-color: rgb(198, 189, 189);
                        right: 19px;
                        top: -5px;
                        border-style: solid;
                        border-radius: 50%;
                        filter: blur(3px);
                    }
                    ::after{
                        content: "";
                        position: absolute;
                        right: 4px;
                        top: -30px;
                        border-width: 20px 20px;
                        border-style: solid;
                        border-color: transparent transparent white transparent;
                        // box-shadow: #000;
                        // border: 3px solid #b1154a;

                        
                        
                    }
                    &:hover{
                        display: block;
                    }
                }
            }
        }
        
        &-order{
            // S
            display:flex;
            justify-content: space-between;
            align-items: center;
            @include sm-desk{
                max-width: 144px;
                width: 100%;    
            }
            span, img {
                // display: block;
                margin-left: 5px;
            }
        }   
        span{
            font-size: 14px;
            @include sm-desk{
                // display: none;
            }
        }
        &-search{
            padding: 10px;
            margin-left: 62px;
            background-color: #fff;
            border: 1px solid #333;
            border-radius: 11px;
            max-width: 720px;
            width: 100%;
            opacity: 33%;
            display:flex;
            justify-content: space-between;
            align-items: center;
            &-icon{
                font-size: 16px;
                margin-right: 24px;
            }
            &-input{
               border: none;
               outline: none;
               width: 100%;
            }
        }
    }
    @include tablet{
        // width: 1023px;
        // width: 100%;
        .header-container{
            // padding-left: 100px;
            // padding-right: 100px;
            margin-bottom: 30px;
        }
        .header-container-more{
            display: flex;
        }
        .header-container-search{
            margin: 0 42px;
        }
        .header-container-order{
            // width: 300px;
            // width: 0;
            // justify-content: flex-start;
            span{
                // display: none;
            }
        }
        .header-container-more--cart{
            margin-left: 13px;
        }
        .header-categories{
            gap: 0 30px;
        }
    }
    @include mobile{
        max-width: 739px;
        .header-container{
            // justify-content: flex-start ;
        }
        .header-container-search{
            display: none;
        }
        .header-container-order{
            display: none;
        }
        .header-categories{
            display: none;
        }
        .header-container-logo{
            width: 51px;
            height: 40px;
            img{
                width: 51px;
            height: 40px;
            }
            p{
                font-size: 6px;
            }
        }
    }
    @include tablet-mini{
        max-width: 739px;
        .header-container{
            // justify-content: flex-start ;
        }
        .header-container-search{
            display: none;
        }
        .header-container-order{
            display: none;
        }
        .header-categories{
            display: none;
        }
        .header-container-logo{
            width: 51px;
            height: 40px;
            img{
                width: 51px;
            height: 40px;
            }
            p{
                font-size: 6px;
            }
        }
    }
}
.contact{
    @include tablet{
        display: none;
    }
    @include mobile{
        display: none;
    }
    @include tablet-mini{
        display: none;
    }
    &-box{
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: fixed;
        width: 56px;
        height: 176.62px;
        // left: 0;
        top: 50%;
        // right: 0;
        background: #F6F5F5;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 0px 11px 11px 0px;
        // position: absolute;
        @include sm-desk{
            width: 46px;
            height: 150px;
        }
        @include mobile{
            width: 28px;
            height: 88px;
            border-radius: 0px 6px 6px 0px;
        }
        img{
            width: 38px;
            height: 38px;
            margin: 10px;
            @include sm-desk{
                margin: 5px;
            }
            @include mobile{
                width: 19px;
                height: 19px;
                margin: 5px;
            }
        }
    }
}
.headmenu{
    // margin-top: 100px;
    // display: none;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
    transform: translateX(-100%);
    transition: transform linear 0.2s,opacity linear 0.2s;
    &-search{
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        margin-top: 20%;
        &-right{
            background: #000000;
            border: 1px solid #FFFFFF;
            max-width: 100px;
            width: 100%;
            margin-left: 20px;
            position: relative;
            img{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
        }
        &-left{
            width: 100%;
            input{
                height: 50px;
                width: 100%;
                font-size: 16px;
                padding: 0 5px;
            }
        }
    }
    &-bar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #000;
        padding: 20px;
    }
    &-list{
        // padding: 30px 20px;
        ul{
            list-style: none;
            padding: 0;
            padding-left: 20px;
            li{
                a{
                color: #000000;
                font-size: 16px;
                    
                }
                margin-top: 30px;
                font-weight: 400;
                line-height: 19px;
                text-transform: uppercase;
                cursor: pointer;
                &:hover{
                    color: pink;
                }
            }
        }
    }
}
.cart-mobile{
    margin-left: 19px;
    position: relative;
    display: none;
    @include tablet{
        display: block;
    }
    @include mobile{
        display: block;
    }
    @include tablet-mini{
        display: block;
    }
    &-number{
        background: #FF7A00;
        border-radius: 50%;
        width: 18px;
        height: 18px;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(30%,-30%);
        text-align: center;
    }
    span{
        color: #fff;

    }
}
.header-categories-shop{
    a{
        color: #000;
    }
}
.header-categories-items{
    img{
        transform: translateY(30%);
    }
}
.all-hidden{
    margin-top: 30px;

    label{
    font-weight: 400;
    line-height: 19px;
    text-transform: uppercase;
    cursor: pointer;
    color: #000000;
    font-size: 16px;
    }
}
#nav-input:checked ~ .headmenu{
    transform: translateX(0);
}
select{
    background-color: #fff;
}
.male-hidden-mobile{
    display: none;
}
#hidden-male:checked ~ .male-hidden-mobile{
    display: block;
}
.female-hidden-mobile{
    display: none;
}
#hidden-female:checked ~ .female-hidden-mobile{
    display: block;
}

.help-hidden-mobile{
    display: none;
}
#hidden-help:checked ~ .help-hidden-mobile{
    display: block;
}

.testabc{
    display: none;
}
#testaaa:checked ~ .testabc{
    display: block;
}
