.product-catalog{
    // transform: translateY(163px);
    padding: 0 60px;
    display: flex;
    position: relative;
    @include sm-desk{
        padding: 0 40px;
    }
    // @include tablet-mobile{
    //     display: none;
    // }
    &-sort{
        // margin-left: 211px;
        select{
            option{
                background: #FFFFFF;
                box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.25);
            }
        }
    }
    &-name{
        // margin-left: 20px;
        font-style: normal;
        font-weight: 500;
        font-size: 2vmin;
        max-width: 200px;
        width: 100%;
        line-height: 19px;
        // letter-spacing: 0.03em;
        color: #818181;
        @include sm-desk{
            max-width: 150px;
            width: 100%;
            font-size: 14px;
        }
        // @include tablet-mobile{
        //     font-size: 13px;
        // }
    }
    ul{
        margin-left: 15px;
        list-style: none;
        display: flex;
        text-align: center;
        margin-top: 0;
        padding: 0;
        li{
            margin-left: 15px;
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            color: #000000;
            flex: none;
            order: 1;
            flex-grow: 0;
            // @include tablet-mobile{
            //     font-size: 14px;
            //     margin-left: 10px;
            // }
        }
    }
}
.name-products{
    // transform: translateY(163px);
    max-width: 1440px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.25), inset 0px -1px 0px rgba(0, 0, 0, 0.18);
    margin-top: 32px;
    margin-bottom: 30px;
    &--box{
        align-items: center;
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 33px;
        text-align: center;
        text-transform: uppercase;
        color: #333333;
        padding: 40px 0;
    }
}
.product{
    // transform: translateY(163px);
    margin-top: 0;
    // transform: translateY(-100px);
    // margin-bottom: 0;
    
    p{
        font-size: 28px;
        text-align: center;
        @include mobile{
            font-size: 18px;
        }
    }
    &-products{
        display: flex;
        // flex-wrap: wrap;
        justify-content: center;
        box-sizing: border-box;
        // padding-left: 120px;
        // padding-right: 120px;
        padding: 0 60px;
        @include sm-desk{
            padding: 0 40px;
        }
        @include mobile{
            padding: 0;
        }
        gap:0 24px;
        // &-mobile{
        //     @include mobile{
        //         display: none;
        //     }
        // }
        
        &-more{
            margin-top: 86px;
            @include mobile{
                display: none;
            }
        }
        &-icons{
            position: absolute;
            top: 0;
            right: 11px;
            margin: 0;
            // @include tablet-mobile{
            //     // width: 30%;
            // }
            img{
                @include mobile{
                    width: 24px !important;
                    height: 24px !important;
                }
                // @include tablet-mobile{
                //     width: 40%;
                // }

            }
        }
        &-icons:first-child {
            margin-right: 0;
        }
        &-item{
            position: relative;
            &-img{
                overflow: hidden;
                position: relative;
                &--resize{
                    width: 100%;
                }
            }
            &:hover .product-products-item--hover{
                opacity: 1;
                bottom: 0;
            }
            &--hover{
                background-color: rgba(255, 255, 255, 0.7);
                position: absolute;
                bottom: -48px;
                max-height: 48px;
                padding: 15px 10px;
                display: flex;
                justify-content: space-between;
                width: 100%;
                transition: all 0.3s linear;
                opacity: 0;
                &--size{
                    span{
                        font-size: 16px;
                    }
                    &--m{
                        text-decoration-line: line-through;
                        color: #C0C0C0;
                    }
                    &--all{
                        margin-left: 16px;
                    }
                }
                &--color{
                    // width: 100%;
                    display: flex;
                    &--all{
                        margin-right: 12px;
                        padding: 6px;
                    }
                    &--grey{
                        // position: absolute;
                        border-radius: 50%;
                        width: 14px;
                        height: 14px;
                        background: #969b84;
                        border: 1px dashed #ffffff;
                        box-shadow: 0px 1.2px 1px 0.8px rgb(170 170 170);
                    }
                    &--light{
                        // position: absolute;
                        border-radius: 50%;
                        width: 14px;
                        height: 14px;
                        background: #D9D9D9;
                        box-shadow: 0px 1.2px 1px 0.8px rgb(170 170 170);
                    }
                    &--white{
                        // position: absolute;
                        border-radius: 50%;
                        width: 14px;
                        height: 14px;
                        background: #fff;
                        box-shadow: 0px 1.2px 1px 0.8px rgb(170 170 170);
                    }
                    &--black{
                        // position: absolute;
                        border-radius: 50%;
                        width: 14px;
                        height: 14px;
                        background: #000;
                        box-shadow: 0px 1.2px 1px 0.8px rgb(170 170 170);
                    }
                }
            }

                &-img{
                    img{
                        @include mobile{
                            // width: 182px;
                            // height: 182px;
                        }
                    }
                }
            &--info{
                padding: 0 10px;
                // @include tablet-mobile{
                //     position: relative;
                // }
                &--name{
                    display:flex;
                    justify-content: space-between;
                    align-items: center;
                    // position: relative;
                    // display: flex;
                    // width: 100%;
                    &--icon{
                        // @include tablet-mobile{
                        //     position: absolute;
                        //     bottom: 0;
                        //     right: 0;
                        // }
                    }
                    a{
                        font-size: 16px;
                        color: #000;
                        @include sm-desk{
                            font-size: 13px;
                        }
                        @include mobile{
                            font-size: 12px;
                        }
                    }
                    img{
                        // margin-right: 0;
                        // justify-content: flex-end;
                        @include mobile{
                            display: none;
                        }

                    }
                }
                &--msp{
                    color: #33333366;
                    font-size: 14px;
                    @include mobile{
                        font-size: 8px;
                    }
                }
                &--price{
                    display: flex;
                    text-align: center;
                    &--new{
                        color: #FF7A00;
                        font-size: 20px;
                        // @include tablet-mobile{
                        //     font-size: 14px;
                        // }
                        @include mobile{
                            font-size: 12px;
                        }
                    }
                    &--sale{
                        font-size: 14px;
                        color: #33333366;
                        text-decoration-line: line-through;
                        margin-top: 5px;
                        margin-left: 10px;
                        // bottom:0;
                        // @include tablet-mobile{
                        //     margin: 0 5px;
                        //     font-size: 14px;
                        // }
                        @include mobile{
                            font-size: 8px;
                        }
                    }
                }
            }
        }
    }
}
.pages{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000;
    margin: 25px 0;
    ul{
        display: flex;
        justify-content: center;
        list-style: none;
        @include mobile{
        gap: 0 20px;
        padding: 0;
        margin: 0;
        }
    }
    a{
        color: #000;
    }
    li{
        margin-left: 20px;
        @include mobile{
            margin: 0;
        }
    }
}
.footer-products{
    // transform: translateY(163px);
}
.product-top{
    // margin-top: 30px;
}
.product-top2{
    // margin-top: 86px;
}
.menu-about{
    margin-top: 172px;
    margin-left: 60px;
    margin-bottom: 32px;
    a{
    display: inline-block;  
    // font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #000;
    
    }
    span{
        margin: 0 8px;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 14px;
        text-transform: uppercase;
        color: #000000;
        flex: none;
        order: 0;
        flex-grow: 0;
    }

}
@include mobile{
    .product-products-hiden{
        display: none;
    }
    .product-products{
        padding-left: 0;
        padding-right: 0;
        gap: 0;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin: 0 10px;
    }
    .product-products-item{
        box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.1);
        max-width: 182px;
        margin-right: 10px;
    }

}
@include mobile{
    .product-catalog{
        display: none;
    }
    .name-products{
        margin-top: 15px;
    }
    .name-products--box{
        padding: 5px 0;
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
    }
    .header-products{
        
    }
}
.female-flex{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}
.female-flex-left-border{
    display: flex;
    padding: 0 5px;
    p{
        margin: 0;
    }
}
.pp{
    display: none;
    // @include tablet-mobile{
    //     display: block;
    // }
    @include mobile{
        display: block;
    }
}
.female{
    &-box{
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
    }
    &-flex{
        &-left{
            position: relative;
        }
        p{
            font-weight: 300;
            font-size: 12px;
        }
        span{
            font-weight: 300;
            font-size: 12px;
        }
        &-box{
            box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.1);
            margin-bottom: 7px;
            max-width: 100px;
            width: 100%;
            text-align: center;
            padding: 0 10px;
            &:active{
                background-color: #D9D9D9;
            }
        }
        &-hide{
            padding: 0 5px;
            display: flex;
            flex-direction: column;
            display: none;
            position: absolute;
            background: #fff;
            z-index: 1;
            p{
                margin: 5px 0;
            }
        }
    }
    &-opacity{
        text-align: center;
        margin-top: 10px;
        img{
            opacity: 0.1;
        position: absolute;
     transform: translateX(-50%);
        }
    }
}
.name-products2{
    margin-bottom: 0;
}

#female-hide-mobile:checked ~ .female-flex-hide{
    transform: translateX(0);
    display: block;
}
#categray:checked ~ .product-catalog-bochon{
color: red;
}
.product-catalog-sort{
    background: #FFFFFF;
    box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.25);
    text-align: right;
    position: absolute;
    top: 0;
    right: 20px;
    label{
        font-weight: 500;
        font-size: 2.5vmin;
        text-align: center;
        color: #818181;
    }
}
.product-catalog-sort-mini{
    box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.25);
    display: none;
    position: absolute;
    background-color: #fff;
    z-index: 1;
    width: 100%;
    text-align: left;
    padding: 0 5px;
    p{
        font-size: 2vmin;
    }
}
.product-catalog-bochon{
    font-size: 2vmin;
    color: red;
    margin-left: 20px;
}
#sortmini:checked ~ .product-catalog-sort-mini{
display: block;
}
// #female-hide-mobile:checked ~ .female-flex-hide{
//     transform: translateX(0);
//     display: block;
// }
