@font-face {
    font-family: 'fw-black';
    src: url('../font/Roboto-Black.ttf') format('truetype');
}
@font-face {
    font-family: 'fw-bold';
    src: url('../font/Roboto-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'fw-medium';
    src: url('../font/Roboto-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'fw-regular';
    src: url('../font/Roboto-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'fw-light';
    src: url('../font/Roboto-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'fw-thin';
    src: url('../font/Roboto-Thin.ttf') format('truetype');
}

