// color
$primary-color: #D0A11D;
$secondary-color: #FFFAED;
$black-color: #272727;
$white-color: #ffffff;
$green-color: #11770E;
$shadow-box: 1px 1px 5px 1px rgba(0,0,0,0.5);
// modal background
$bg-modal:rgba(0, 0, 0, 0.5);
